body {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  margin: 20px;
  margin-left: 80px;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  background-color: papayawhip;
}
.registerUserDiv {
  display: none;
}
.registerGroupDiv {
  display: none;
}
.joiningGroup {
  display: none;
}
